### Some of these queries might throw some errrors as I couldn't check it properly and had no real table to actually observe the data. But logic that I've used is correct as per my knowledge.

### Question 1

In [ ]:
%%sql
select Customer_Id,max(Nav Value*N0_of_Units) as "Transaction_value"
from Mutual_Fund_Transaction_Table
where Transaction_Status = "Success" and Transaction_Type = "Purchase"

### Question 2

In [ ]:
%%sql
select count(Transaction_Id)
from Mutual_Fund_Transaction_Table
where extract(year from Transaction_Time) = '2019'
and extract(month from Transaction_Time) = '04'

### Question 3

In [ ]:
%%sql
select count(Customer_Id)
from Customer_Details
where extract(year from Customer_Join_Time)='2019'
and extract(month from Customer_Join_Time)='01'
and banned = 1
and Customer_Id in(select Customer_Id,count(Transaction_Id) as "Total_no_of_transaction"
                  from Mutual_Fund_Transaction_Table
                  group by Customer_Id
                  where "Total_no_of_transaction">=4)

### Question 4A

In [ ]:
%%sql
select Customer_Id,sum(Nav Value*N0_of_Units) as "Transaction_value"
from Mutual_Fund_Transaction_Table
where Transaction_Status = "Success" 
and Transaction_Type = "Purchase"
and Customer_Id in(select Customer_Id
                  from Customer_Details
                  where gender="Male")
group by Customer_Id
order by "Transaction_value" desc limit 5

### Question 4B

In [ ]:
%%sql
select Customer_Id,sum(Nav Value*N0_of_Units) as "Transaction_value"
from Mutual_Fund_Transaction_Table
where Transaction_Status = "Success" 
and Transaction_Type = "Purchase"
and Customer_Id in(select Customer_Id
                  from Customer_Details
                  where gender="Female")
group by Customer_Id
order by "Transaction_value" desc limit 5

### Question 5

In [ ]:
%%sql
select sum(No_of_Units) as 'GMV_months',extract(month from Transaction_Time) as 'Month'
from Mutual_Fund_Transaction_Table
where Transaction_Status = "Success" 
and Transaction_Type = "Purchase"
and Customer_Id in(select Customer_Id
                  from Mutual_Fund_Transaction_Table
                  where extract(month from Transaction_Time)='01'
                        and Transaction_Status = "Success" 
                        and Transaction_Type = "Purchase")
group by 'Month'

# Thanks